<!DOCTYPE html>
<html lang="en" hola-ext-inject="disabled">
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Trendy</title>
  <meta name="description" content>
  <meta name="author" content>
  <meta content='<%= user_signed_in? ? current_user.id : "" %>' name='user-id'/>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= stylesheet_link_tag '//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <header class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="navbar-inner">
      <div class="container">
        <div id="logo"><%= link_to "Trendy", root_path, :class => 'navbar-brand'%></div>
        <nav class="collapse navbar-collapse navbar-ex1-collapse">
        	<% if user_signed_in? -%>
						<ul class="nav navbar-nav navbar-right">
							<!-- <li><%= link_to 'Chat with others', registered_users_path %></li> -->
							<li><%= link_to 'Submit link', new_link_path %></li>
							<li><%= link_to 'Account', edit_user_registration_path %></li>
							<li><%= link_to 'Sign out', destroy_user_session_path, :method => :delete %></li>
						</ul>
					<% else -%>
						<ul class="nav navbar-nav pull-right">
							<li><%= link_to 'Sign up', new_user_registration_path %></li>
							<li><%= link_to 'Sign in', new_user_session_path %></li>
						</ul>
					<% end -%>
        </nav>
      </div>
    </div>
  </header>
  <div class="container">
  <div class="jumbotron">
  	<div class="container">
  		<h1>Trendy - Your daily dose of Internet awesomeness!</h1>
  		<% if user_signed_in? -%>
  			<p>As we can see, you are not new here! Great! Submit, comment, chat and just have a great time!</p>
  			<%= link_to 'Submit a new link!', new_link_path, :class => 'btn btn-large btn-primary' %>
  		<% else -%>
  			<p>Welcome traveller! This is Trendy - the newspaper of the Internet. Join us and start sharing your links, comment them and chat with other people!</p>
  			<%= link_to 'Sign up!', new_user_registration_path, :class => 'btn btn-large btn-primary' %>
  		<% end -%>
  	</div>
  </div>

	<div id="main_content" class="container">
		<% flash.each do |name, msg| %>
			<%= content_tag(:div, msg, class: "alert alert-info") %>
		<% end %>

		<div id="content" class="col-md-9 center-block">
			<%= yield %>
		</div>
	</div>
  <hr>

  <div id="footer">
      <div class="container">
        <p class="muted credit">Created by <a href="https://github.com/Postmodum37">Tomukas</a>.</p>
      </div>
    </div>
    </div>
</body>
</html>
